%h1 Listing broadcasts

%table
  %tr
    %th Message
    %th
    %th
    %th

  - @broadcasts.each do |broadcast|
    %tr
      %td= broadcast.message
      %td= link_to 'Show', broadcast

%br

= link_to 'New Broadcast', new_broadcast_path
